
.main-heading {
  color: #082465;
  font-weight: bold;
  text-align: center;
}

.about_img-box {
  width: 65%;
  margin: 40px auto;
}

.teacher_section .card {
  border: none;
  background-color: transparent;
}

.teacher_section .card-title {
  text-align: center;
  color: #48494a;
}


.admission_section .container-fluid.position-relative {
  height: 500px;
}

.admission_container {
  width: 770px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}






